@import 'nib'

// Fonts
// -----
@font-face
  font-family 'AvantGardeGothicITCW01D 731075'
  font-weight normal
  font-style normal
  src url('../fonts/c18aee57-7585-4a8b-9a1c-69d226301d73.woff') format('woff')

@font-face
  font-family 'Conv_AGaramondPro-Regular'
  src local('☺'), url('../fonts/AGaramondPro-Regular.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family "AGaramondPro-Italic"
  src url('../fonts/AGaramondPro-Italic.woff') format('woff')
  text-decoration none
  font-style normal


// Variables
// ---------
backgroundColor     = black
fontColor           = #bfbfbf
secondaryFontColor  = #bfbfbf
borderColor         = #808080
highlightColor      = #6a0bc1
purpleColor         = #6a0bc1

tvScreenHeight      = 1920px
tvScreenWidth       = 1080px
iOSStatusBarHeight  = 40px
iPadScreenHeight    = (2048px - iOSStatusBarHeight)
iPadScreenWidth     = 1536px
iPhoneScreenHeight  = (1136px - iOSStatusBarHeight)
iPhoneScreenWidth   = 640px

screenHeight        = tvScreenHeight
screenWidth         = tvScreenWidth
screenHeaderHeight  = ((screenHeight / 6) * 0.6)
unit                = 20px
listThumbnailSize   = 200px

// Mixins
// ------
garamond()
  font-family 'Conv_AGaramondPro-Regular', 'adobe-garamond-pro', 'AGaramondPro-Regular', 'Times New Roman', 'Times', 'serif'

garamond-italic()
  font-family 'AGaramondPro-Italic', 'adobe-garamond-pro-italic', 'AGaramondPro-Italic', 'Times New Roman', 'Times', 'serif'

avant-garde()
  font-family 'AvantGardeGothicITCW01D 731075', 'AvantGardeGothicITCW01Dm', 'Helvetica', 'sans-serif'
  text-transform uppercase

prevent-content-shift()
  transform translateZ(0)
