.screen--feed
  // nothing yet
  padding 84px

.screen--feed__footer
  position absolute
  bottom 84px

  h1
    font-size 62px
    color #fff
    margin-top 30px

#logotype
  height 60px
  fill white