@import 'common'

.screen--feed
  padding 84px
  color #fff

.screen--feed__footer
  position absolute
  bottom 84px

  h1
    font-size 62px
    margin-top 30px

#logotype
  height 60px
  fill white

.is-large .screen--feed__entry__image
  width 612px
  height 612px

.screen--feed__entry__info
  margin-top 30px

.screen--feed__entry__user
  clearfix()
  height 70px
  margin-bottom 30px
  line-height 1

.screen--feed__entry__username
  avant-garde()
  font-size 28px
  margin-top 7px

.screen--feed__entry__slug
  garamond()
  font-size 32px

.screen--feed__entry__avatar
  width 70px
  height 70px
  border 1px solid #e5e5e5
  float left
  margin-right 15px

.screen--feed__entry__caption
  max-width 612px
  font-size 32px