@import 'common'

.screen--schedule
  padding 84px

#screen__alert
  display none

.corner-header
  color white
  border-top 3px solid white
  font-size 70px
  width 500px
  position absolute
  padding-top 10px

.events__mini-schedule
  garamond-italic()
  position absolute
  right 0
  font-size 32px
  width 412px
