@import 'common'

// iPad
// ----
html[data-useragent*='iPad']
  #screen
    width iPadScreenWidth
    height iPadScreenHeight

  // iPad is slightly wider so you can see one extra
  // action on screen
  #map-seen
    .action:nth-child(6) .action-metadata
    &.is-transitioning .action:nth-child(5) .action-metadata
      opacity 1
    .action:nth-child(7) .action-metadata
    &.is-transitioning .action:nth-child(6) .action-metadata
      opacity 0

// iPhone
// ------
html[data-useragent*='iPhone']
  #screen
    // Handle sizing by multiplying by a constant
    // and letting the device zoom to fit
    iPhoneConst = 1.6
    width (iPhoneScreenWidth * iPhoneConst)
    height (iPhoneScreenHeight * iPhoneConst)
