@import 'common'

#screen
  position absolute
  width screenWidth
  height screenHeight
  background-color backgroundColor
  transition transform 0.5s
  overflow hidden
  &.is-rotated
    transform-origin top left
    transform rotate(-90deg) translateX(-100%)
    backface-visibility hidden
